.indicator {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-self: center;

    &-item {
        height: 5px;
        width: 40px;
        font-size: 13px;
        border: none;
        border-radius: 1ch;
        justify-content: flex-start;
        justify-items: flex-start;
        text-align: left;
        color: black;
        transition: all 1s ease;
        cursor: pointer;
        padding: 0 12px;

        background: red;

        &.active {
            background-color: #333;
            width: 100px
        }

        &.non-active {
            background: #ddd;
        }
    }
}